body {
  margin: 0;
}

html {
  background-color: #daecec;
  padding: 270px;
  display:flex;

height:100%;
}

.menu{
  display: flex;
  justify-content: center;
}


header  {
  display: flex;
  justify-content: center;
}

header h1 {
 
  color: #fff;
  display:flex;
  text-align: center;
 
  margin: 0;
 
  padding-top: 20px;
}


header h1{
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 48px;
}

header h3{
  padding: 0;
  margin: 0;
}

header nav{
  padding: 10px 0 0 0;
  margin: 0;
}

header nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li{
  padding: 0 15px 0 0;
  font-weight: 400;
 


}
header nav ul li a {
  color: white;
  text-decoration: none;
  margin: 0 20px 0 0;
  display: flex;
  text-align: center;
}

/* Nav Bar 

header nav ul li a {
  color: white;
  text-decoration: none;
  margin: 0 20px 0 0;
  display: flex;
  text-align: center;
}

header nav ul li:last-child a {
  margin-right: 0;
}



/* image */

img{
 
  width: 100%;
  border-radius: 50%;
  margin: 0px;
  text-align:center;
}

/* Text Styling */

h1, h2, h3 {
  justify-content: center;
  font-family: 'Rockwell', neo sans;
  font-size: 48px;
  color: rgb(0, 21, 139);
  text-align: center;
}

p, li {
  font-family: 'Verdana', cursive;
  font-size: 22px;
  color: rgb(53, 30, 255);
}

/* links for contact info */

a { color: rgb(53, 30, 255); }
a:hover{ color:rgb(126, 55, 126); }


/*Submit button and Comment Box*/
form label {
  justify-content: space-around;
  font-size: 18px;
  margin-bottom: 5px;
padding: 0%;
  color: gray;
  font-family: arial;
}

form textarea {
  justify-content: space-around;
 
  width: 80%;
  color: #000;
  padding: 5 5 5 5px;
  font-size: 18px;
  margin-top: 5px;
}

.email{
  width:25%;
  flex-direction:column;
  display:flex;
  margin-bottom:10px;
}

.name{
  width:25%;
  flex-direction:column;
  display:flex;
}

.comments{
  width:50%;
  flex-direction:column;
  display:flex;
  margin-bottom:10px;
}

/*Header/Footer*/



header {
  font-family: 'Gochi Hand';
  font-size: 80px;
  text-align: center;
  margin: 0px;
  padding: 20px;
  color: white;
  background-color: darkblue;
 
}

footer h3{
  text-align: center;
}


/* Media Queries*/

@media all and (min-width: 500px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }

  header h1 {
    margin: 14px 0;
    padding-top: 0;
  }
  
  header nav {
    margin-top: 8px;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }
}




