/* Background */

html {
  background-color: BlanchedAlmond;
  padding: 270px;
  
}
/* image */

img {
  width: 100%;
  height: 480px;
  margin-top: 0px;
}

/* Text Styling */

h1, h2, h3 {
  font-family: 'Rockwell', neo sans;
  font-size: 48px;
  color: DarkCyan;
  text-align: center;
}

p, li {
  font-family: 'Clarendon', cursive;
  font-size: 22px;
  color: steelblue;
}

/* links for contact info */

a { color: dodgerblue; }
a:hover{ color:purple; }

